<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>| Météo</title>
  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet" href="css/style.min.css">
  <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Roboto:100,400" rel="stylesheet">
</head>
<body ng-app="Meteo">
  <div ng-controller="show" class="container">
    <div class="col-xs-12 col-md-10 col-md-center col-lg-8 col-lg-center">
      <form class="search">
        <input class="search_city" type="input" ng-model="search" placeholder="Rechercher une ville..">
        <a class="search_btn" ng-click="searchCity()">Search</a>
      </form>
      <div class="head">
        <div class="row">
          <div class="col-xs-6">
            <h1>Météo à {{data.location.name}}</h1>
            <span ng-show="data.location.region">
              {{data.location.region}},
            </span>
            {{data.location.country}}
          </div>
          <div class="col-xs-6" style="margin-top: 8px;">
            <img class="icon" src="http:{{data.current.condition.icon}}" alt="{{data.current.condition.text}}" />
            <p class="condition">{{data.current.condition.text}}</p>
          </div>
        </div>
      </div>
      <div class="content">
        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <p><strong>Température :</strong> {{data.current.temp_c}}°C</p>
            <p><strong>Vent :</strong> {{data.current.wind_kph}} km/h</p>
            <p><strong>Humidité :</strong> {{data.current.humidity}}%</p>
          </div>
          <div class="col-xs-12 col-sm-6">
            <p>{{ data.location.localtime}}</p>
            <p><strong>Ressenti :</strong> {{data.current.feelslike_c}}°C</p>
            <p><strong>Direction :</strong> {{data.current.wind_dir}}</p>
          </div>
        </div>
      </div>
      <div class="head">
        <h1>Prochains jours :</h1>
      </div>
      <div class="next">
        <div class="col-xs-3 day" ng-repeat="(key, day) in data.forecast.forecastday" ng-class="{grey: key % 2 != 0}">
          <div class="col-xs-12 text-center">
            <img class="icon" src="http:{{day.day.condition.icon}}" alt="{{day.day.condition.icon}}" />
            <p><strong>{{day.day.condition.text}}</strong></p>
          </div>
          <p><strong>Température : </strong>{{day.day.avgtemp_c}}°C</p>
        </div>
      </div>
    </div>
  </div>

  <!--Import jQuery before materialize.js-->
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
  <!-- <script src="http://unpkg.com/ui-router-ng2/_bundles/ui-router-ng2.js"></script> -->
  <script type="text/javascript" src="js/app.js"></script>
</body>
</html>
